@model List<Bus>
@{
    ViewData["Title"] = "Transit Express - Bus Hires";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div class="container destinations">
    <h3 class="display-4 text-center">Rental Coach Models</h3>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @foreach (var bus in Model)
            {
                <div class="card mb-3">
                    <img src="~/TransitExpressTemplate/images/Coaches/@bus.ImageUrl" class="card-img-top" alt="Coach Image">
                    <div class="card-body">
                        <h5 class="card-title">@bus.BusBrand</h5>
                        <p class="card-text">One of the best premium coach for who wants a luxury and comfortable journey.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex">Bus Model: <p class="text-dark font-weight-bold ml-1">@bus.BusModel</p></li>
                        <li class="list-group-item d-flex">Bus Capacity: <p class="text-dark font-weight-bold ml-1">@bus.BusCapacity</p></li>
                        <li class="list-group-item d-flex">Hire Price(Per Day): <p class="text-dark font-weight-bold ml-1">@bus.HirePrice</p></li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-primary">Hire</a>
                        <a href="#" class="card-link btn btn-primary">More Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

