
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div class="container destinations">
    <h1 class="display-4">You are not authorized to view this page.</h1>
</div>

