
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div class="container destinations">
    <h1 class="display-4">Your account has been verified.</h1>
</div>