<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Transit Express</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/TransitExpressTemplate/css/bootstrap.css" rel="stylesheet">
    <link href="/TransitExpressTemplate/css/fontawesome-all.css" rel="stylesheet">
    <link href="/TransitExpressTemplate/css/swiper.css" rel="stylesheet">
    <link href="/TransitExpressTemplate/css/magnific-popup.css" rel="stylesheet">
    <link href="/TransitExpressTemplate/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="/TransitExpressTemplate/images/favicon-bus.ico">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->
        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"><img class="rounded" src="/TransitExpressTemplate/images/transit-express-logo.png" alt="alternative"></a>
        <ul class="navbar-nav flex-grow-1">
            @if (!User.Identity.IsAuthenticated)
            {

                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="btn btn-warning nav-link text-white">Login</a>
                </li>
                <li class="nav-item ml-1">
                    <a asp-controller="Account" asp-action="Register" class="btn btn-warning nav-link text-white">Register</a>
                </li>

            }
            else
            {
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-warning nav-link text-dark">Logout</a>
                </li>
            }
        </ul>
        <ul class="navbar-nav flex-grow-1">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="AdminDestinations">Admin Destinations</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="AdminUsers">Admin Users</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="AdminBusses">Admin Busses</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="AdminCityFroms">Admin City Froms</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Admin" asp-action="AdminCityTos">Admin City Tos</a>
                </li>
            }
        </ul>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">FIND YOUR JOURNEY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" asp-controller="TransitExpress" asp-action="BusHires">COACH HIRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" asp-controller="TransitExpress" asp-action="Destinations">DESTINATIONS</a>
                </li>

                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">US</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">PRIVACY & POLICY</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="#your-link">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="#your-link">
                        <span class="hexagon"></span>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->

    @RenderBody()

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Few Words About Aria</h4>
                        <p class="white">We're passionate about delivering the best business growth services for companies just starting out as startups or industry players that have established their market position a long tima ago.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Links</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="#your-link">startupguide.com</a>
                            </li>
                            <li>
                                <a class="white" href="terms-conditions.html">Terms & Conditions</a>
                            </li>
                            <li>
                                <a class="white" href="privacy-policy.html">Privacy Policy</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Tools</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#your-link">businessgrowth.com</a>
                            </li>
                            <li>
                                <a class="white" href="#your-link">influencers.com</a>
                            </li>
                            <li class="media">
                                <a class="white" href="#your-link">optimizer.net</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Partners</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#your-link">unicorns.com</a>
                            </li>
                            <li>
                                <a class="white" href="#your-link">staffmanager.com</a>
                            </li>
                            <li>
                                <a class="white" href="#your-link">association.gov</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->
    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © @DateTime.Today.Year <a href="https://inovatik.com">Template by Inovatik</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->
    <!-- Scripts -->
    <script src="/TransitExpressTemplate/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="/TransitExpressTemplate/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="/TransitExpressTemplate/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/TransitExpressTemplate/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="/TransitExpressTemplate/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/TransitExpressTemplate/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="/TransitExpressTemplate/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="/TransitExpressTemplate/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="/TransitExpressTemplate/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="/TransitExpressTemplate/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>
